/* CSS to style the active navbar item */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    /* color: darksalmon !important; */
    background-color: lightgray;
    /* Change the text color of active item */
}

/* Change the link color on hover */
.navbar-nav .nav-item .nav-link:hover {
    /* color: salmon !important; */
    background-color: gray;
    /* Change color on hover */
}

body {
    background-color: white;
    color: black;
    /* Optionally, change text color to white for better visibility */
}

/* Custom CSS for image containers */
.image-container {
    height: 350px;
    /* Set the height of the image container */
    overflow: hidden;
    /* Hide any overflow content */
}

.cropped-image {
    width: 100%;
    /* Make the image fill the container horizontally */
    height: 100%;
    /* Make the image fill the container vertically */
    object-fit: cover;
    /* Crop the image to fit within the container */
}

.row {
    margin-bottom: 20px;
}